<nav class = "topnav">
    <div id="navbar">
        <label for="nav-toggle" id=nav-button><img alt="Toggle navigation" src="/images/nav-toggle.svg"></label>
        <input id= "nav-toggle" type="checkbox">
        <a class="logo" href="/">Home</a>
        <a href="/pages">Pages</a>
        <a href="/about">About Me</a>
        <a href="https://pubnix.pink/">pubnix.pink</a>
        <a href="/contact">Contact</a>
    </div>
    <!-- <img id="nav-toggle" src="/images/nav-toggle.svg"></> -->
</nav>